@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:200,400');
.Landing {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 200;    
}
.headerL {
    height: 60px;
    width: 100vw;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #1485CB;
    .sideBySideL {
        display: flex;
        align-items: center;
        .logo {
            height: 45px;
            margin-left: 2.5vw;
        }
        .dueTitle {
            margin-left: 1vw;
            font-size: 1.5em;
        }
       

    }
}
.divider {
    width: 1px;
    height: 20px;
    background-color: #1485CB;
    margin-right: 1vw;
}
.links{
    font-size: 1.5em;
    margin-right: 1vw;
    border-bottom: 2px solid #eee;
    cursor: pointer;
    transition: .64s;
}
.links:hover {
    border-bottom: 2px solid #1485CB;
    
}
button {
    border: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 200;    
    font-size: 1.5em;
    cursor: pointer;
}
.login {
    margin-right: 2.5vw;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    transition: .64s;
    border-radius: 0;
    outline: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5em;   
    color: #1485CB;
}
.login:hover {
    border-bottom: 2px solid #1485CB;
}

.placeholder {
    background-color: white;
    height: 100vh;
    width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
    
}


.lappy {
    width: 60vw;
}

.iphone {
    width: 15vw;
    z-index: 1;
}

@media screen and (max-width: 750px) {
    .dueTitle {
        display: none;
    }
    .links{
        font-size: 1.2em;
        margin-right: 3vw;
        border-bottom: 2px solid #eee;
        cursor: pointer;
        transition: .64s;
    }
    .links:hover {
        border-bottom: 2px solid #1485CB;
        
    }
    .divider {
        width: 1px;
        height: 20px;
        background-color: #1485CB;
        margin-right: 3vw;
    }
}