@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:200,400");
.profile {
  width: 100vw; }

.edit-profile {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px; }

.info-header {
  font-size: 35px;
  width: 100%;
  text-align: left;
  padding: 20px;
  color: #1485CB; }

.info-content {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .info-content .pic-btn {
    margin-top: 5px;
    color: gray;
    cursor: pointer;
    font-size: 20px; }
  .info-content .pic-btn:hover {
    color: black; }

.info-img {
  margin: 5px 50px 0 0; }

.info-names {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 20px;
  width: 250px; }
  .info-names input {
    width: 300px;
    border-radius: 3px;
    border: 1px solid #aaa;
    height: 30px; }
  .info-names span {
    margin-top: 10px; }

.fetch-btn {
  width: 60px;
  margin-top: 5px;
  color: gray;
  font-size: 15px;
  cursor: pointer; }

.fetch-btn:hover {
  color: black; }

.fetch-school-container {
  margin-top: 10px;
  text-align: left; }

.change-schools {
  font-size: 20px; }

.Select {
  width: 300px;
  text-align: left;
  font-size: 20px; }

.edit-pic {
  display: flex;
  width: 150px;
  height: 150px;
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 1px solid #1485CB; }

.profile-content {
  width: 80vw;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

.profile-classes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  align-items: center; }

.profile-classes > span {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #1485CB;
  border-bottom: 1px solid #1485CB;
  padding: 10px;
  margin-top: 10px; }

.subscribed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .subscribed div {
    margin: 20px; }

.admin-classes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .admin-classes div {
    margin: 20px; }

.edit-class {
  margin-top: 20px;
  height: 50px;
  font: normal normal 200 20px/80px "Barlow Condensed", sans-serif;
  font-size: 20px;
  overflow: hidden;
  width: 200px;
  border: 0.5px solid black;
  border-radius: 3px; }
  .edit-class span {
    text-decoration: none;
    text-align: center;
    display: block;
    cursor: pointer; }

.edit-class .inner {
  transition: 0.3s;
  margin: -17px; }

.edit-class:hover .inner {
  margin-top: -80px; }

#add:hover {
  border: 1px solid #1485CB;
  transition: .6s;
  color: #1485CB; }

#remove:hover {
  border: 1px solid red;
  transition: .6s;
  color: red; }

.inner {
  margin-top: 0em; }

.delete {
  position: absolute;
  top: 10px;
  right: 13px;
  color: gray;
  font-size: 20px;
  cursor: pointer; }

.delete:hover {
  color: black; }

.ui.modal {
  transition: .6s; }

.close-modal {
  background: transparent;
  width: 100px;
  height: 40px;
  font-size: 20px;
  border: 1px solid gray;
  color: gray;
  border-radius: 0;
  transition: .3s; }

.close-modal:hover {
  color: black;
  border: 1px solid black;
  transition: .5s; }

@media (max-width: 1024px) {
  .profile-content {
    width: 100vw;
    transition: .3s;
    flex-direction: column;
    align-items: center; } }

@media (max-width: 500px) {
  .profile-content {
    width: 100vw;
    transition: .3s;
    flex-direction: column;
    align-items: center; } }
