@import '../../_theme.scss';

.profile{
    width: 100vw;
    height: 100vh;
}

.profile-content{
    width: 80vw;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-classes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    align-items: center
}

.profile-classes>span{
    font-family: $primary-font;
    font-weight: 700;
    font-size: 30px;
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
    padding: 10px;
    margin-top: 10px;
}


.subscribed{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    div{
        margin: 20px;
    }
}

.admin-classes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    div{
        margin: 20px;
    }
}

.edit-class{
    margin-top:  20px;
    height: 50px;
    font: normal normal 200 20px/80px $primary-font;
    font-size: 20px;
    overflow: hidden;
    width: 200px;
    // background-color: #3b5998;
    border: 0.5px solid black;
    border-radius: 3px; 
    
    span{
        // color: white;
        text-decoration: none;
        text-align: center;
        display: block;
        cursor: pointer;
    }
}

.edit-class .inner{
    transition: 0.3s;
    margin: -17px; 
}

.edit-class:hover .inner{
    margin-top: -80px;
}


#add:hover{
    border: 1px solid $primary-color;
    transition: .6s;
    color: $primary-color;
    
}

#remove:hover{
    border: 1px solid red;
    transition: .6s;
    color: red;
}


.inner{
    margin-top: 0em;
}

.delete{
    position: absolute;
    top: 10px;
    right: 13px;
    color: gray;
    font-size: 20px;
    cursor: pointer;
}

.delete:hover {
    color: black;
    
}

.fetch-container{
    margin-top: 20px;
    width: 40vw;
    .fetch-profile{
        margin-top: 15px;        
        margin-bottom: 20px;
    }
    button{
        margin-bottom: 20px;
    }
}

.fetch-container>span{
    font-family: $primary-font;
    font-weight: 700;
    font-size: 30px;
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
    padding: 3px;
}

.ui.modal{
    transition: .6s;
}

.close-modal{
    background: transparent;
    width: 100px;
    height: 40px;
    font-size: 20px;
    border: 1px solid gray;
    color: gray;
    border-radius: 0;
    transition: .3s;
}

.close-modal:hover{
    color: black;
    border: 1px solid black;
    transition: .5s;

}


@media(max-width: 1024px){
    .profile-content{
        width: 100vw;
        transition: .3s;
        flex-direction: column;
        align-items: center;
    }
    .fetch-container{
        margin-top: 20px;
    }

}

@media(max-width: 500px){
    .profile-content{
        width: 100vw;
        transition: .3s;
        flex-direction: column;
        align-items: center;
    }

    .fetch-container{
        width: 80vw;
    }


}