.side {
  position: fixed;
  height: 100vh;
  width: 20vw;
  background: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid black; }

.side-top {
  padding-top: 20px;
  max-height: 310px;
  min-height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column; }

::-webkit-scrollbar {
  display: none; }

.side-container {
  height: 60vh;
  width: 100%;
  overflow-y: scroll; }

.profile_pic {
  display: flex;
  width: 200px;
  height: 200px;
  background-image: url("../../assets/profile.svg");
  background-size: 110px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 1px solid #1485CB; }

.profile_name {
  font-size: 30px;
  margin-top: 40px; }

.class-btn {
  width: 100%;
  height: 80px;
  margin: 0;
  background: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1485CB;
  word-wrap: break-word; }
  .class-btn p {
    font-size: 20px;
    margin: 0 40px 0 0; }
  .class-btn .add {
    font-size: 30px; }

.ui.button {
  border: 1px solid #1485CB !important;
  margin: 0 !important;
  border-radius: 0 !important; }

.side-bottom {
  position: relative;
  height: 65px;
  background: #ebebeb;
  width: 100%;
  border-right: 1px solid #1485CB;
  border-left: 1px solid #1485CB; }
  .side-bottom .nav_logo {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 60px; }
  .side-bottom .login button {
    position: absolute;
    bottom: 10px;
    right: 20%;
    font-size: 15px;
    border: 1px solid #1485CB;
    padding: 2px 10px 2px 10px; }
