@import "../../_theme.scss";
.rbc-row-content {
    z-index: 0 !important;
}

.Modal {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100vw;
    height: 100%;
    background: rgba(14, 136, 201, 0.952);
    outline: none;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    } 

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    // filter: blur(10px);
}

.dashboard-submit{
    margin-top: 20px;
    border: 1px solid grey;
    color: grey;
    padding: 8px 16px 8px 16px;
    font-size: 16px;
}

.dashboard-submit:hover{
    color: black;
    background: rgba(128, 128, 128, 0.096);
    transition: .3s;
    border: 1px solid black;
}

.modal-logo{
    height: 100px;
}

.select{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      width: 60vw;
      height: 50vh;
      background: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 8px;
      z-index: 10;
  }

  .school-select{
    width: 90%;
    margin: 20px;
  }

  .fetch{
      width: 90%;
  }


.clickToAddMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.addMessage {
    font-family: "Open Sans", sans-serif;
    font-size: 4vw;
    word-wrap: break-word;
    color: rgba(128, 128, 128, 0.577);
}

.dashboardContainer{
    width: 85%;
    height: 100vh;
    float: right;
}

.upcomingContainer {
    height: 30%;
    width: 92%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    .separator {
        width: 1px;
        height: 90%;
        background-color: darkslategray;
    }
    .upcomingAssignment {
        width: 180px;
        display: flex;
        height: 90%;
        justify-content: space-around;
    }
}

.assignmentDisplay {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    align-items: left;
    width: 150px;
    .title {
        font-weight: 900;
        color: $primary-color;
        border-bottom: gray solid 1px;
        margin-bottom: 15px;
        font-size: 1.5em;
        height: 7vh;
    }
}

.calendarWrapper {
    height: 70vh;
    z-index: -1;
    width: 100%;
    padding: 0px 20px 5px 20px;
  }

  .rbc-month-view{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .rbc-time-view{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .rbc-agenda-view{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .rbc-event-content{
      font-size: 10px;
  }

  canvas.chartjs-render-monitor {
    width: 160px !important;
    height: 80px !important;
}

  @media(max-width: 1200px){
    .dashboardContainer{
        width: 82vw;
    }

}

@media(max-width: 1024){


}


