@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:200,400');

// Colors
$text-color: #4B4F59;
$primary-color: #1485CB;
$secondary-color: #f2f2f6;
$tertiary-color: #7B7B7B;
$forth-color: #9E9E9E;

// Fonts
$primary-font: 'Barlow Condensed', sans-serif;